.recommended-friends{
    margin: 10px 0px;
    padding: 20px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title{
    font-size: 14px;
    color: var(--gray-color);
}
.recommended-friends span{
    margin: 45px 0px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: var(--gray-color);
}
.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--gray-color);
    font-size: 14px;
    margin-bottom: 25px;
}
.open-chat__header span{
    opacity: 0.6;
}
.open-post{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.open-post,
.open-post__2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}
.open-post__hashtags{
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 1px;
    height: 14px;
    margin: 0px 5px;
    background-color: var(--gray-color);
}
.open-post__member-status{
    color: #ffb0e0;
}
.open-post__photo{
    margin-bottom: 10px;
    position: relative;
}
.open-post__photo img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.open-post__heart-count{
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 65px;
    height: 27px;
    border-radius: 27px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
@keyframes heartBeat{
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: #ffb0e0;
        transform: scale(1.5);
    }
    100%{
        color: white;
        transform: none;
    }
}
.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}
.open-post__heart-count i{
    margin-right: 5px;
}
.open-post__2{
    margin-top: 15px;
}